default:
    suites:
        default:
            contexts:
                - 'CheckoutContext'
                - 'ProposalSubmissionContext'
                - 'AgreementSubmissionContext'
                - 'NoShowContext'
